// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "_mixins.scss";

body {
  background: url(/images/spickzettel/textured_paper_light.png);
  width: 100%;
}

/* Header
--------------------------------------*/

.hero-unit {
    background: rgba(0, 0, 0, 0.05);
    padding: 0;
    margin-top: 20px;
    overflow: hidden;
    div {
        float: left;
        width: 80%;
        margin: 20px 10%;
    }
    img {
        float: left;
        margin: 20px 10px 20px 0;
    }
}

/* Sidebar
--------------------------------------*/

.sidebar.vertical {
  width: 50px;
  height: 100%;
  background: url(/images/spickzettel/debut_dark.png);
  position: fixed; 
  top: 0;
  left: 0;
}

.sidebar.vertical button {
  width: 50px;
  background: url(/images/spickzettel/debut_dark.png);
  border-radius: 0;
}

.sidebar.vertical button:hover {
  background: #555;
}

/* Shelf
--------------------------------------*/

.shelf {
  width: 0;
  height: 100%;
  margin-left: -50px;
  position: fixed;
  top: 0;
  left: 100px;
  overflow-x: hidden;
  z-index: 2;
  background: url(/images/spickzettel/debut_dark.png);
  overflow-y: scroll;
  .picture {
    width: 20%;
    float: left;
    margin: 50px 0 50px 10%;
    display: none;
    @include inset-box-shadow( 0, 0, 10px, #000 );
  }
}

.tint {
  position: relative;
  float: left;
  margin: 0 auto -5px auto;
  width: auto;
  cursor: pointer;
  padding-bottom: 1px;
  p {
    margin: 0;
    padding: 5px 0 5px 0;
    z-index: 1;
  }
}

.tint:hover:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.tint:hover .caption {
  display: block;
  position: absolute; bottom: 0; left: 0;
  width: 100%;
  background: rgba(1, 1, 1, 0.7);
  color: #FFF;
  text-align: center;
}

.caption {
  display: none;
}

.tint:hover:before {
  background: none;
}
